<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Log In Page</title>
</head>
<body>
	<section>
	<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" th:action="@{/send-otp}" action="#" method="post">
                            <h3 class="text-center text-info">Request password reset</h3><br>
                            
                            <div>
                            <p>Enter your registered email below, click on the "Send" button, and we'll send you an OTP to reset your password.</p>
                            </div>
                            
                            <div class="form-group">
                                <label for="email" class="text-info">Email Id:</label><br>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your registered email">
                            </div>
                            
                            <div class="form-group text-center">
                                <input text="center" type="submit" name="submit" class="btn btn-info btn-md" value="Send">
                            </div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
</body>
</html>